.footerContainer a {
  text-decoration: none;
  color: var(--secondary-color);
  background: var(--branding-color);
  padding: 12px 12px;
  border-radius: 50%;
  text-align: center;
  align-items: center;
  cursor: pointer;
  margin: 0 10px;
}
.footerContainer p {
  color: var(--light-branding-color);
}
.footer-social-links {
  justify-content: space-between;
}

.footerContainer a:hover {
  color: var(--tertiary-color);
  background: var(--branding-color);
  transition: all 100mx ease-in-out;
}

.footerContainer p {
  margin: 0;
}

@media (max-width: 576px) {
  .footer-social-icons a {
    margin: 0 15px;
    align-items: center;
  }
  .footer-social-icons {
    margin-bottom: 22px;
  }

  .footerContainer a {
    text-decoration: none;
    color: var(--branding-color);
    background: var(--quad-color);
    padding: 12px 12px;
    border-radius: 50%;
    text-align: center;
    align-items: center;
    cursor: pointer;
    margin: 0 5px;
  }
}
