.App {
  text-align: center;
}
:root {
  --branding-color: #bad8b6;
  --light-branding-color: #e1eacd;
  --background-color: #01352c;
  --font-color: var(--light-branding-color);
  --tertiary-color: #61b390;
}
